.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/DemoRepository/FileContentIndex/7ec31c38-a11e-4428-8ced-4de5289dd352.vsidx
.vs/DemoRepository/FileContentIndex/96fe6a03-1022-4021-92ce-38504437698a.vsidx
.vs/DemoRepository/FileContentIndex/read.lock
.vs/DemoRepository/v17/.futdcache.v2
.vs/DemoRepository/v17/.wsuo
democonsole/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
democonsole/obj/Debug/net7.0/democonsole.AssemblyInfo.cs
democonsole/obj/Debug/net7.0/democonsole.AssemblyInfoInputs.cache
democonsole/obj/Debug/net7.0/democonsole.csproj.AssemblyReference.cache
democonsole/obj/Debug/net7.0/democonsole.csproj.FileListAbsolute.txt
democonsole/obj/Debug/net7.0/democonsole.GeneratedMSBuildEditorConfig.editorconfig
democonsole/obj/Debug/net7.0/democonsole.GlobalUsings.g.cs
democonsole/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
democonsole/obj/Release/net7.0/democonsole.AssemblyInfo.cs
democonsole/obj/Release/net7.0/democonsole.AssemblyInfoInputs.cache
democonsole/obj/Release/net7.0/democonsole.csproj.AssemblyReference.cache
democonsole/obj/Release/net7.0/democonsole.GeneratedMSBuildEditorConfig.editorconfig
democonsole/obj/Release/net7.0/democonsole.GlobalUsings.g.cs
